{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>About page</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam officia ea quidem debitis doloremque molestias at repellendus tempora, magni fugit facilis, quas odio enim molestiae sit maxime iste, inventore esse!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/about.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer}}